<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_rB8Z8xsJ-xcs5oWuI_wTgaDV3MpQI0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>906422631837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quicknotes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>notesapp-3782e</string>
	<key>STORAGE_BUCKET</key>
	<string>notesapp-3782e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906422631837:ios:459cb99aa623e44139c374</string>
</dict>
</plist>